@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
/* @import "../../App.css"; */
@import url("https://wow-ui02.netlify.app/components/Card.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../assets/home-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 17rem;
  padding-bottom: 10rem;
}

.home .content {
  text-align: center;
  width: 60rem;
}

.home .content h3 {
  color: var(--primary-color);
  font-size: 3rem;
}

.home .content h3 span {
  color: var(--primary-dark-color);
}

.home .content p {
  color: var(--text-light);
  font-size: 1.7rem;
  padding: 1rem 0;
  line-height: 1.8;
}

/* PRODUCT SECTION */

.product-btn {
  text-align: center;
  margin-left: 54rem;
  color: var(--primary-color) !important;
}

.product-btn:hover {
  color: var(--text-white) !important;
}

.category-section {
  display: flex;
  height: 18rem;
}

.category-card {
  margin: 1.25rem !important;
}

.category-card1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/italian-food.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
.category-card2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/Chinese_food.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
.category-card3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/spanish-food.webp) no-repeat;
  background-position: center;
  background-size: cover;
}
.category-card4 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/north-indian-food.jfif) no-repeat;
  background-position: center;
  background-size: cover;
}
.category-card5 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/south-indian-food.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
.category-title {
  text-align: center !important;
  margin-top: 3rem;
  font-size: 2rem;
  color: var(--text-white);
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .search-form {
    width: 90%;
  }

  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    background: var(--text-white);
  }

  .header .navbar.active {
    right: 2rem;
    transition: 0.4s linear;
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 2.5rem;
  }

  .footer {
    text-align: center;
  }

  .footer .box-container .box .payment-img {
    margin: 2rem auto;
  }
}
