@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
/* @import "../../App.css"; */
@import url("https://wow-ui02.netlify.app/components/Card.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

.heading {
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 3.5rem;
  color: var(--primary-color);
}

.heading span {
  background: var(--primary-dark-color);
  color: var(--text-white);
  display: inline-block;
  padding: 0.5rem 3rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--primary-color);
  color: var(--black);
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: var(--primary-dark-color);
  color: var(--text-white);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: var(--text-white);
  box-shadow: var(--box-shadow);
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--primary-color);
}

.header .logo a {
  color: var(--primary-color) !important;
}

.header .logo i {
  color: var(--primary-dark-color);
}

.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--primary-color);
}

.header .navbar a:hover {
  color: var(--primary-dark-color);
}

.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 0.5rem;
  background: var(--background-color);
  color: var(--primary-color);
  font-size: 2rem;
  margin-left: 0.3rem;
  cursor: pointer;
  text-align: center;
}

.header .icons div:hover {
  background: var(--primary-dark-color);
  color: var(--text-white);
}
.profile-icon {
  margin-left: 2rem;
  margin-right: 3rem;
  color: var(--primary-color);
  position: relative;
}

.userName {
  font-size: 1.25rem;
  margin-top: 4rem;
  position: absolute;
  margin-left: -6rem;
}
.loginButton:hover {
  color: var(--primary-dark-color);
}
#logout-btn {
  font-size: 3rem;
  color: var(--primary-color);
  margin-right: -3rem;
  margin-left: 4rem;
}
#logoutNotDisplay {
  display: none;
}
#menu-btn {
  display: none;
}
