.footer {
  background: var(--text-white);
}

.footer .box-container .box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  color: var(--primary-color);
  padding: 1rem 0;
  margin: 1rem;
}

.footer .box-container .box a {
  color: var(--primary-color);
}

.footer .box-container .box a:hover {
  background-color: var(--primary-dark-color);
  color: var(--text-white);
  padding: 1rem;
  border-radius: 0.5rem;
}

.footer .credit {
  font-size: 2rem;
  text-align: center;
  border-top: 0.1rem solid var(--primary-dark-color);
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  color: var(--primary-color);
}

.footer .credit span {
  color: var(--primary-dark-color);
}
