@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

.wrapper {
  max-width: 40rem;
  margin-top: 15rem;
  margin-bottom: 2rem;
  margin-left: 50rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.login-wrapper {
  margin-top: 20rem;
  margin-bottom: 6rem;
}
.wrapper h2 {
  position: relative;
  font-size: 4rem;
  font-weight: 600;
  color: var(--primary-dark-color);
}

.wrapper form {
  margin-top: 1rem;
}

.wrapper form .input-box {
  height: 3.5rem;
  margin: 1.2rem 0;
}

form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-color);
  border: 0.1rem solid var(--background-color);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
  border-color: var(--primary-color);
  border-radius: 0.5rem;
}

form .policy {
  display: flex;
  align-items: center;
}

form h3 {
  color: var(--primary-color);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 1rem;
}

.input-box.button input {
  color: var(--text-white);
  letter-spacing: 1px;
  border: none;
  background: var(--primary-dark-color);
  cursor: pointer;
}

.input-box.button input:hover {
  background: var(--text-white);
  color: var(--primary-dark-color);
}

form .text h3 a {
  color: var(--primary-dark-color);
  text-decoration: none;
}

form .text h3 a:hover {
  text-decoration: underline;
}

.input-icons i {
  position: absolute;
}
.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
  margin-left: 31rem;
  margin-top: 0.5rem;
}

.input-field {
  width: 100%;
  padding: 10px;
}

.error-text {
  text-align: center;
  font-size: 1.5rem;
  color: var(--primary-dark-color);
}
